/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-plugin-blocks-example-block1 {
  border: 1px dotted #f00;
}
